.board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 10px;
  justify-content: center;
}

.cell {
  width: 120px;
  height: 120px;

  border: none;
  border-radius: 12px;

  background: #1e293b;
  color: white;

  font-size: 3rem;
  font-weight: bold;

  cursor: pointer;
}

.cell:hover {
  background: #334155;
}