* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}